<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="riverstone_sign_in_otp" frontName="riverstone_sign_in_otp">
            <module name="Riverstone_SignInWithOtp"/>
        </route>
    </router>
</config>